.image-details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  z-index: 3;
}
.delete-icon {
  height: 1.9rem;
  cursor: pointer;
  background: none;
  padding: 0.5rem;
  border-radius: 10px;
  background: rgba(62, 100, 190, 0.5);
  transition: 0.1s ease-in;
}
.delete-icon:hover {
  background: rgba(62, 100, 190, 0.952);
}
.image-category {
  background: rgb(235, 121, 14);
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

@media screen and (min-width: 981px) {
  .image-details {
    top: 0.5rem;
    right: 1rem;
  }
  .delete-icon {
    height: 2.5rem;
  }
  .image-category {
    padding: 0.4rem 0.6rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
}