/* Slider */
.slider-images__list {
  margin: 0 auto;
  max-width: 80rem;
}
.slider-images__wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 918px) {
  .slider-images__list {
    width: fit-content;
  }
}