/* Add Image Form */
.add-image__section {
  background: #000;
  color: #fff;
  padding: 2rem
}
.add-image__form {
  margin: 3rem auto 3rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 5px solid rgba(32, 218, 209, 0.527);
  padding: 1rem;
  max-width: fit-content;
  grid-gap: 1rem;
}
.add-image__descritption {
  grid-column: 1 / -1;
}
.add-image__form > * {
  font-family: inherit;
  margin-top: 1rem;
  font-size: 1.3rem;
}
.add-image__form__legend {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 1rem;
  text-transform: uppercase;
}
.btn-add-image {
  border: 2px solid #fff;
}
.btn-add-image:hover {
  background: rgba(32, 218, 209, 0.527);
}
